.itemCountContainer{
    display: flex;
    flex-direction: column;
    padding: 18px;
    margin: 5px;
    width: 70%;
    max-width: 220px;
    align-items: center;
    align-content: center;
    font-weight: bold;
    color: #201d1d;
}

.inputContainer{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.inputField{
    width: 25%;
    height: 30px;
}

.inputBtn{
    background: #231a36;
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: 0px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f5f5f5;
    cursor: pointer;
}
.inputBtn:hover{
    background-color: rgb(28, 107, 172);
}

.addToCartBtn{
    margin-top: 10px;
    padding: 10px;
    color: rgb(28, 107, 172);
    border: rgb(28, 107, 172);
    cursor: pointer;
    border-radius: 4px;
}

.addToCartBtn:hover{
    background-color:rgb(28, 107, 172) ;
    color: white;
}
.addToCartBtn:disabled{
    background-color: rgb(63, 63, 63);
    color: white;
}
